<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>GameQuestions</title>
</head>

<body>
<h2>Please Answer Game Questions</h2>

<form method="get"  action = "/game/PlayGame" th:object="${question}">  
   <label for="label"> Answer The Question:</label>
   <label th:text="${question.label}" ></label> <br/>
   
    <label th:text="${one}" ></label>
    <input type="radio"  name="radio" value="1"  />   <br/>
    
    <label th:text="${two}" ></label>      
   <input type="radio"  name="radio" value="2" />  <br/>
   
    <label th:text="${three}" ></label>      
   <input type="radio"  name="radio" value="3" />  <br/>
   
      
   <input type="submit" value="Answer" />
   
</form>

</body>

<footer th:replace="layout :: site-footer" />
</html>

